@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sf-pro-display";
    src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "sf-pro-display";
    src: url("../assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "sf-pro-display";
    src: url("../assets/fonts/SF-Pro-Display-Semibold_0.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "sf-pro-display";
    src: url("../assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "sf-pro-display";
    src: url("../assets/fonts/SF-Pro-Display-Black.otf") format("opentype");
    font-weight: 800;
}

.project_card {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.project_card .front,
.project_card .back {
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.project_card .back {
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.project_card:hover .front {
    transform: rotateY(-180deg);
}

.project_card:hover .back {
    transform: rotateY(-360deg);
}

.modal {
    @apply z-50 fixed left-0 right-0 top-0 w-full h-full backdrop-blur-sm;
}

.modal_desc::-webkit-scrollbar-track {
    background: #0c1734;
}

.modal_desc::-webkit-scrollbar-thumb {
    background: #eeab54;
}

.modal_desc::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal_desc::-webkit-scrollbar {
    width: 8px;
}

.modal_desc::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.modal_desc::-webkit-scrollbar-track {
    border-radius: 10px;
}

.popUpSwiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #0c1734;
    border: 2px solid #d9d9d9;
}

.popUpSwiper .swiper-pagination-bullet-active {
    background: #eeab54;
    border: 2px solid #d9d9d9;
}
